@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Description</label>
                        <textarea rows="2" class="form-control" asp-for="Description"></textarea>
                        <br />
                        <label>Address</label>
                        <textarea rows="2" class="form-control" asp-for="Address"></textarea>
                        <br />
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <br />
                        <label>Phone</label>
                        <input type="text" class="form-control" asp-for="Phone" />
                        <br />
                        <button class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
