@model List<ResultCategoryDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>category name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CategoryID</th>
                <th>@item.CategoryName</th>
            </tr>
        }
    </table>

</div>
