@model UpdateFeatureDefaultDto
@{
    ViewData["Title"] = "UpdateFeatureDefault";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <<input type="hidden" class="form-control" asp-for="FeatureDefaultId" />
                        <label>Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br /><label>Icon</label>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

