@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">

                        <input type="hidden" class="form-control" asp-for="BrandID" />
                        <label>Brand Name</label>
                        <input type="text" class="form-control" asp-for="BrandName" />
                        <br />
                        <label>ImageUrl</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Update Brand</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

