
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UiLayout/_UiLayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shopping Cart</span>
            </nav>
        </div>
    </div>
</div>

<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingTableShoppingCartComponentPartial")
        @await Component.InvokeAsync("_CouponCodeShoppingCartComponentPartial")
       
    </div>
</div>

