
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUiLayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_TopBarUiLayoutComponentPartial")
    @await Component.InvokeAsync("_NavBarUiLayoutComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_FooterUiLayoutComponentPartial")
    @await Component.InvokeAsync("_ScriptUiLayoutComponentPartial")

</body>

</html>
