@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Category Name</th>
                                <th>Delete</th>
                                <th>Update</th>
                                <th>Product Images</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductPrice</td>
                                    <td>@item.Category.CategoryName</td>
                                    <td><a href="/Admin/AdminProduct/DeleteProduct/@item.ProductID" class="btn btn-danger">Delete</a></td>
                                    <td><a href="/Admin/AdminProduct/UpdateProduct/@item.ProductID" class="btn btn-success">Update</a></td>
                                    <td><a href="/Admin/AdminProductImage/ProductImageDetail/@item.ProductID" class="btn btn-warning">Product Images</a></td>

                                </tr>

                            }

                        </tbody>
                    </table>
                    <br />
                    <td><a href="/Admin/AdminProduct/CreateProduct/" class="btn btn-primary">New Product</a></td>
                </div>
            </div>
        </div>
    </div>
</section>

